<!-- stylesheets-->
<%= stylesheet_link_tag "time_editor.css",
    :plugin => "redmine_time_editor" %>
<%= stylesheet_link_tag "time_editor_color.css",
    :plugin => "redmine_time_editor" %>

<!-- scripts -->
<%= javascript_include_tag "lib/s.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "lib/co.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "lib/thunkify.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "lib/array-util.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "lib/date-util.js",
    :plugin => "redmine_time_editor" %>

<%= javascript_include_tag "app/config.js",
    :plugin => "redmine_time_editor" %>

<%= javascript_include_tag "app/controllers/time_editor_controller.js",
    :plugin => "redmine_time_editor" %>

<%= javascript_include_tag "app/views/gadget/gadget.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/text.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/button.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/full_char_box.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/half_char_box.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/text_area.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/select.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/hline.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/calendar.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/date_select.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/simple_table.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/gadget/div.js",
    :plugin => "redmine_time_editor" %>

<%= javascript_include_tag "app/views/main/info_panel.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/main/band_holder.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/main/band_view_state.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/main/band_view.js",
    :plugin => "redmine_time_editor" %>
<%= javascript_include_tag "app/views/main/time_editor.js",
    :plugin => "redmine_time_editor" %>

<script>
$(function(){
  var content = document.getElementById('content');
  var editor = new TimeEditor();
  editor.load(content);
});
</script>
