/**
 * calendar
 */

#content .calendar {
  background-color: ivory;
}

#content .calendar .day-of-week {
  background-color: lightgreen;
}

/** day */

#content .calendar .day:hover{
  background-color: orange;
}

#content .calendar .day-of-this-month {
/**  color: black; */
}

#content .calendar .day-of-other-month {
  color: lightgray;
}

#content .calendar .selected-day {
  background-color: gold;
}

/**
 * info-panel
 */

#content .info-panel {
  background-color: ivory;
}

/**
 * band-view
 */

#content .band-view {
  background-color: ivory;
}

/** column-header */

#content .band-view .column-header-1 {
  background-color: lemonchiffon;
}

#content .band-view .column-header-2 {
  background-color: ivory;
}

/** row-header */

#content .band-view .row-header-1 {
  background-color: lemonchiffon;
}

#content .band-view .row-header-2 {
  background-color: ivory;
}

/** body */

#content .band-view .body-column-1 {
  background-color: lavenderblush;
}

#content .band-view .body-column-2 {
  background-color: ivory;
}

#content .band-view .body-horizontal-line {
  border-color: lightgrey;
}

#content .band-view .body-background {
  background-color: mistyrose;
}
