/**
 * common
 */

#content div {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#content button, #content input, #content select, #content textarea {
  padding: 3px;
  border: 0;
  border:solid 1px #ccc;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
